
/*TELA HOME*/

           body{
            background-color: #000000

           }


            /*LISTA DE MENU*/
            
            .menu { 
              list-style: none;
              margin: 0;
              padding: 10px 10px; /*tamanho do background*/
              display: flex; /* Exibe os itens do menu em linha */
              border: 0px solid #000000; /*borda na lista*/
              background-color: #000000; /*cor do fundo da lista*/
              text-align: center; /*Alinhando texto*/
            
          }

          .menu li a {
              display: block; /*para torná-los elementos de bloco*/
              padding: 10px 10px; /*tamanho do background*/
              text-decoration: none; /*para remover a sublinhado padrão nos links*/
              color: #fff8f8; 
              font-size: 15px; /*tamanho da fonte*/
              text-align: center; /*Alinhando texto*/
            }
            
          .menu li a:hover { /*para definir um estilo diferente quando o cursor do mouse passa sobre os links.*/
              background-color: #f9f5f5;
              color: #747070;
            }


            /*FONTE*/
                @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
                
          body {
              font-family: 'Montserrat', sans-serif;
            }

            /*IMAGEM PRINCIPAL*/
            img {
              display: block;
              margin: auto; /*centralizar imagem*/
            }

            .bg_video {
              position: right center;
              min-width: 100%;
              min-height: 100%;
              background-color: #000000
              no-repeat center;

            }

  